name: Lint commit messages
on:
  workflow_call:
    inputs:
      configFile:
        description: Commitlint configuration file.
        type: string
        required: false
        default: package.json
jobs:
  commitlint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6.2.1
        env:
          NODE_PATH: ${{ github.workspace }}/node_modules
        with:
          configFile: ${{ inputs.configFile }}
          token: ${{ secrets.GITHUB_TOKEN }}
