name: Node.js test coverage
on:
  workflow_call:
    inputs:
      nodeVersion:
        type: string
        default: '24'
        required: false
      coverageFile:
        type: string
        default: './coverage/cobertura-coverage.xml'
        required: false
permissions:
  contents: read
  id-token: write
  pull-requests: write
jobs:
  run:
    name: Test coverage (Node.js ${{ inputs.nodeVersion }})
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js ${{ inputs.nodeVersion }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.nodeVersion }}
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Test
        run: npm test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: ${{ inputs.coverageFile }}
          use_oidc: true
