name: Checkout, setup Node.js and install project
on:
  workflow_call:
    inputs:
      fetchDepth:
        description: Fetch depth for the checkout action
        type: number
        required: false
        default: 1
jobs:
  main:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: ${{ inputs.fetchDepth }}
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - name: Install project
        run: npm ci --ignore-scripts
