name: Checkout, setup Node.js and install project
on:
  workflow_call:
    inputs:
      fetchDepth:
        description: Fetch depth for the checkout action
        type: number
        required: false
        default: 1
jobs:
  main:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: ${{ inputs.fetchDepth }}
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
      - name: Install project
        run: npm ci --ignore-scripts
