name: Release
on:
  workflow_call:
    inputs:
      nodeVersion:
        type: string
        default: '24'
        required: false
      appId:
        type: string
        description: 'GitHub App ID'
        default: ${{ vars.RELEASE_APP_ID }}
        required: false
      dockerUser:
        type: string
        default: ${{ vars.GH_PACKAGES_USERNAME }}
        description: 'Docker registry user'
        required: false
    secrets:
      privateKey:
        description: 'GitHub App private key'
        required: true
      npmToken:
        description: 'npm token'
        required: false
      dockerToken:
        description: 'Docker registry token'
        required: false
jobs:
  run:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup Node.js ${{ inputs.nodeVersion }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.nodeVersion }}
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Build
        run: npm run build
      - name: GitHub App token
        id: appToken
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ inputs.appId }}
          private-key: ${{ secrets.privateKey }}
      - name: GitHub App user
        id: appUser
        uses: vidavidorra/github-action-app-user@011f4bec98a47caf367fbb8a256943b8e23fee2d # v1.0.76
        with:
          token: ${{ steps.appToken.outputs.token }}
          slug: ${{ steps.appToken.outputs.app-slug }}
      - name: Release
        env:
          GITHUB_TOKEN: ${{ steps.appToken.outputs.token }}
          GIT_AUTHOR_NAME: ${{ steps.appUser.outputs.username }}
          GIT_AUTHOR_EMAIL: ${{ steps.appUser.outputs.email }}
          GIT_COMMITTER_NAME: ${{ steps.appUser.outputs.username }}
          GIT_COMMITTER_EMAIL: ${{ steps.appUser.outputs.email }}
          NPM_TOKEN: ${{ secrets.npmToken }}
          DOCKER_REGISTRY_USER: ${{ inputs.dockerUser }}
          DOCKER_REGISTRY_PASSWORD: ${{ secrets.dockerToken }}
        run: npx --no-install semantic-release
